.answer {
    width: 100%;
    cursor: pointer;
    font-size: 1.25em;
    margin:0;
    padding: 5px 0 5px 2%;
}

.answerDiv:hover, .consentRow:hover {
    background-color: #FFC35A !important;
}

.selectedAnswer {
    background-color: #E8980D !important;
}

.answerBlock {
    display: flex;
    justify-content: flex-start;
   /* flex-wrap: wrap;*/
    flex-direction: column;

}

.controlDiv {
    display: inline;
}

@media all and (max-width: 800px) {
    .answerBlock {
        flex-direction: column;
    }
}

.container {
    color: #4e5157;




}

.answerText {
    padding-left: 5%;
    display: inline;
}

.answerDiv {
    flex-grow: 1;
    flex-shrink: 0;


}

.answer.p {

}

#surveyBody input, #surveyBody textarea
 {
     border-radius: 0;
 }

.surveyInstruction {
    padding: 10px;
    background-color: #B0E3E8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 10px solid #4E5157;
}

.surveyInstruction h1 {
    margin-top: 0;
}

body {
    background-color: #4E5157;  /*#92BBBF; */
    padding-top: 40px;
}

.loginForm {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.5em;
    background-color: #C2F9FF;
    border-radius: 10px;

}

.confirmation a{
    color: #E8980C;
}

.loginForm input {
    margin-bottom: 10px;

    height: auto;

}

.consentForm{
    padding: 0 0 15px;
    border-radius: 10px;
    background-color: #C2F9FF;
    margin: 0 auto;
    font-size: 1.5em;
}

.consentForm label{
    display: inline;
}

#consentBtn{
    margin-right: 5px;
}

.loginForm .alert {
    font-size: 0.6em;
    color: red;
    margin-bottom: 0;
    padding: 0 0 15px;

}


.consentHeader{
    text-align: center;
    margin: 0;
    padding: 10px;
}

.consentHeader h2{
    margin-top: 0;
}


.consentRow, .buttonRow {
    padding: 3px 10px;
    margin: 0;
}

small {
    font-size: 0.5em;
    line-height: normal;
}

.consentRow input {
    margin: 0 auto;
}



label {
    font-weight: normal;
}


.consentItems:nth-child(odd) {
    background: #90D6DE;;
}

.consentItems {
    margin-bottom: 5px;
}

.questionInstruction {
    margin-bottom: 0;
    padding-bottom: 3px;
    color: #E8980C;
   font-size: 0.7em;
    padding-left: 5px;
}

.surveyInstruction .small{
    margin-bottom: 0;
    padding-bottom: 3px;
    color: #E8980C;
}

.requiredStar{
    color: #E8980C;
}

.questionBlock {
    margin-bottom: 3px;
}

.answerComponents{
    display: inline;
    text-align: justify;
}

.answerComponents span{
    padding-left: 3px;
}

.questionText {
    font-size: 1.5em;
    background-color: #B0E3E8;
    margin: 0;
}

.questionText p{
    padding-left: 5px;
}

#surveyBody
{
    /*background-color: #C2F9FF;*/
    
    border-radius: 10px;
    padding-bottom: 5px;
}



.answerText {
    font-size: 1.25em;
}

.answerDiv:nth-child(even) {
    background-color: #90D6DE;
}



.answerDiv{
    background-color: #A1E8F0;
}
.confirmation {
    font-size: 1.5em;
    background-color: #C2F9FF;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 10px;
}

.viewFade.ng-enter {
    transition: 0.1s linear all;
    opacity: 0;
}

.viewFade.ng-enter-active {
    opacity: 1;
}

input[type=text] {
    color: #4E5157;
}

textarea {
    color: #4E5157;
}

.right {
    float: right;
}

.highlightError {
    background-color:  #FFD3CB !important;
}

#surveyFooter {
    background-color: #4E5157;

}

#submitbtn {
    margin-top: 5px;
    margin-bottom: 5px;

}

@media (min-width: 768px) {
    .progress {
        margin-top: 12px;
        height: 30px;
    }

    .progress span {

        padding-top: 5px;
        display: inline-block;
    }
}

@media (max-width: 767px) {
    .progress {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    html, body {
        height: 100% margin : 0;
    }

    .questionDiv {
        min-height: 100%;
    }
}

.questionDiv{

    border-radius: 10px;
    border-bottom: 10px solid #4E5157;



}

.optionText
{
    display:inline;
    width: auto;
    margin-top: -5px;
    margin-bottom: -3px;
}

.questionDiv:first-child {
    border-radius: 10px;


}

.logoutDiv
{
    text-align: right;


}
.logoutLink
{
    cursor:pointer;
    margin: 10px 5px 0 0;
}


.progress-bar {
    color: black;
    white-space: nowrap;
}

.errorText {
    color: red;
    font-size: 0.75em;
}