
<form ng-submit="goToSurvey()" class="consentForm">
    <h1 ng-bind="survey.acceptanceText"></h1>
    <div ng-repeat="consentItem in survey.acceptanceCriteria" class="consentItems">
        <div class="row consentRow">
            <div class="col-xs-1">
                <input type="checkbox" ng-model="consentItem.agreed" ng-change="toggleConsent()" id="{{$index}}"/>
            </div>
            <div class="col-xs-10" ng-class="{highlightError : consentItem['error'] && !consentItem.agreed}">
                <label for="{{$index}}">{{consentItem.consentText}}</label>
            </div>
        </div>
    </div>
    <div class="row"><div class="col-sm-10"></div><div class="col-sm-2"><input type="submit" value="Proceed" class="btn btn-success btn-lg btn-block"/></div></div>
</form>