
<form ng-submit="handleLogin()" class="loginForm">
    <div>
        <h2>Welcome to {{survey.title}}!</h2>
        <p ng-bind-html="survey.introText"></p>
        <small ng-if="showPasswordError" class="errorText" >Login failed - please check your password</small>
    </div>
    <div ng-repeat="authenticationField in survey.authenticationFields">
        <div>
            <div class="alert alert-warning" role="alert" ng-if="authenticationField['error']">
                Please complete this field
            </div>
            <input type="{{authenticationField.fieldType}}" ng-class="{'has-error' : authenticationField['hasError']}" class="form-control" ng-model="authenticationField.valueEntered" id="{{authenticationField.fieldName}}" placeholder="{{authenticationField.fieldLabel +
            (authenticationField.isRequired ? ' *' : '')}}"/>

        </div>

    </div>

    <input type="submit" value="GO!" class="btn btn-success btn-lg btn-block"/>
    <div><p>{{survey.introFooter}}</p></div>
</form>
