
<form ng-submit="handleLogin()" class="loginForm">
    <div>
        <h2>Welcome!</h2>
        <p ng-bind="survey.introText"></p>
    </div>
    <div ng-repeat="authenticationField in survey.authenticationFields">
        <div>
            <!--<label for="{{authenticationField.fieldName}}">{{authenticationField.fieldLabel}}<span ng-show="authenticationField.isRequired">*</span>: </label> -->
            <input type="text" class="form-control" ng-model="authenticationField.valueEntered" id="{{authenticationField.fieldName}}" placeholder="{{authenticationField.fieldLabel}}"/>
        </div>
    </div>
    <input type="submit" value="GO!" class="btn btn-success btn-lg btn-block"/>

</form>
