<div class="questionText"><p  ng-class="{highlightError : question['error']}">{{questionInd}}. {{question.questionText}}<span class="requiredStar" ng-if="question.isRequired">*</span></p>
<p class="small questionInstruction">Check all that apply</p></div>
<div class="answerBlock" id="{{'answerBlock' + question.id}}">
<div ng-repeat= "answer in question.answers" class="answerDiv" ng-class="{selectedAnswer : question.selectedAnswer.indexOf(answer) != -1}">
    <label class="answer" >
        <div class="answerComponents">
        <input type="checkbox" ng-change="valueChanged()" id="{{answer.id}}" checklist-model="question.selectedAnswer" checklist-value="answer"/><span>{{answer.answerText}}</span>
        <input type="text" class="form-control optionText" ng-if="answer.textField" ng-model="answer.textEntered" ng-disabled="question.selectedAnswer.indexOf(answer) == -1"/>
</div></label>
</div>
</div>
